<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12A70B0DB36DC02F1BE6C9AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C848241A20B6E71691C300E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E326166C325DDF31246C29C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ED735CAD7EA5E7538C9D106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434E0EF5157AE6BB80C88FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494C24D1924D468683A42FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5442639822E1BA692CA4D150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75058E6CCAFE566D7A8C555D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DAA32F4B946A4797CC1B34E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>990E094E3AFA147BE642677B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE2F1C0BEE316E2017064A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF0C601AD7D1A3C1771AFD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC107DD5C20169866EEA966D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF314EC821187B725201BC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
